/* Inter, by Rasmus Andersson: https://rsms.me/inter/ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/* general */
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif; /* font of choice + system fonts just in case */
  background-color: #ffc967;
  font-weight: 400;
  color: #000;
  line-height: 1.4;
  min-width: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5.5rem 1fr 3.2rem;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-weight: 700;
}

/* 
  heading area styles 
  responsive navbar built with help of: https://www.youtube.com/watch?v=At4B7A4GOPg&t=261s
*/
#navbar {
  background-color: #ffc967;
  grid-row: 1;
  box-shadow: 0 8px 10px 0px #a25800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

#bento-logo {
  margin-left: 2rem;
}

#nav-links ul {
  display: flex;
  padding: 1rem;
}

#nav-links li {
  list-style: none;
}

#nav-links li:hover {
  background-color: #ffd281;
}

#nav-links li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2em;
}

#toggle-button {
  position: absolute;
  right: 1rem;
  margin: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

#toggle-button .burger-bar {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}

@media only screen and (max-width: 640px) {
  #bento-logo{
    margin-top: 1.2rem;
  }

  #toggle-button {
    display: flex;
  }

  #navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-links{
    display: none;
    width: 100%;
    background-color: #ffc967;
  }

  #nav-links ul{
    flex-direction: column;
    width: 100%;
  }

  #nav-links li{
    text-align: center;
  }

  #nav-links li a{
    padding: .5rem;
  }

  #nav-links.active {
    display: flex;
  }

}
/* homepage content */
#home-content {
  grid-row: 2;
  background-image: url(../assets/qi_bin-unsplash-bentobg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footing styles */
#footing {
  grid-row: 3;
  background-color: #ffc967;
}
