/* Inter, by Rasmus Andersson: https://rsms.me/inter/ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/* general */
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif; /* font of choice + system fonts just in case */
  background-color: #ffc967;
  font-weight: 400;
  color: #000;
  line-height: 1.4;
  min-width: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5.5rem 1fr 3.2rem;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-weight: 700;
}
/* heading area styles */
#navbar {
  background-color: #ffc967;
  grid-row: 1;
  box-shadow: 0 8px 10px 0px #a25800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

#bento-logo {
  margin: 2rem;
}

#nav-links ul {
  display: flex;
  margin: 2rem;
}

#nav-links li {
  list-style: none;
}

#nav-links li:hover{
  background-color: #FFD281;

}

#nav-links li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2em;
}



/* homepage content */
#home-content {
  grid-row: 2;
  background-image: url(../assets/qi_bin-unsplash-bentobg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#footing {
  grid-row: 3;
}
